{% extends "car/base.html"%} 
{% block content %}
{% load humanize %}
  

<!--section featured cars-->


  
<div>
  <img src="{{orders.car_db.image_front}}">


  <h1 class="center teal-text">admin panel</h1>

  <div class="container blue-grey darken-1">
  <div class="row center col s12 m6 l3">

   <div class="col s12 m6 l3" style="width: 200px" >
      <div class="card-panel teal" >
        <span class="white-text">orders: {{orders.count}}
        </span>
      </div>
    </div>

   <div class="col s12 m6 l3" style="width: 200px"  >
      <div class="card-panel red darken-4 pulse">
        <span class="white-text">pending orders: {{pending.count}}
        </span>
      </div>
    </div>

   <div class="col s12 m6 l3" style="width: 200px" >
      <div class="card-panel green pulse">
        <span class="white-text">processed: {{processed.count}}
        </span>
      </div>
    </div>
     <div class="col s12 m6 l3" style="width: 200px" >
      <div class="card-panel pink">
        <span class="white-text">Users: {{order.User__user.count}}
        </span>
      </div>
    </div>
  </div>

<div class="row blue-grey darken-1 ">
  <div class="row blue-grey darken-1 ">
  <div class="row">
 <form method="get" class="col s12">

  {% csrf_token %}

  {{myfilter.form.non_field_errors }}

  {{ myfilter.form.source.errors }}
  {{myfilter.form.source }}
  <div class="row" >
    <div for="car_make" class="input-field col s3" >
          <label class="white-text">
        
      Order Number
      </label>
           {{myfilter.form.order_id}}
          </div>
           
            <div class="input-field col s3">
           {{myfilter.form.date_placed}}
                   <label class="white-text">
        
        Date placed
      </label>
          </div>
            <div for="car_color" class="input-field col s3">
                                 <label class="white-text">
        
        Viewing date
      </label>
            {{myfilter.form.date}}
          </div>
            
           

           
       <button class="btn waves-effect waves-light col s3" type="submit" name="action">Search
  </button>
  </div>
 
           </form>
         </div>
      
  
  <div>

  <table class="striped centered">
            <thead>
          <tr class="teal">
            <th>order number</th>
              <th>car picture</th>
              <th>placed by</th>
              <th>Email</th>
              <th>car model</th>
              <th>Date placed</th>
              <th>Viewing date</th>
              <th>Status</th>
              <th>process</th>
          </tr>
        </thead>


        <tbody>
          {% for order in myfilter.qs %}

          <tr>
            <td>{{order.order_id}}</td>
            <td > <img style="width: 100%; height: 100%; display:block; " src={{order.car_db.image_front.url}}></td>
            <td>{{order.user}}</td>
            <td>{{order.user.email}}</td>                       
            <td>{{order.car_db.car_model}}</td>
            <td>{{order.date_placed|date:"F d, Y "}}</td>
            <td>{{order.date}}</td>
            <td>{{order.status}}</td>
            <td><a href="{% url 'order-detail' order.order_id %}"  ><i style="color:green;" class="small material-icons">adjust</i></td>

            <td></td>
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>

          
  </div> 

</div>
</div>







  <div class="center section section-icons grey lighten-4" style="position:sticky;">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="waves-effect waves-light btn-small" href="?page=1"><i class="material-icons right">start</i>First</a>
    <a class="waves-effect waves-light btn-small" href="?page={{page_obj.previous_page_number}}"><i class="material-icons right">keyboard_return</i>Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}


    {% if page_obj.number == num %}

     <a class="btn-flat disabled teal" href="?page={{num}}"><i class="material-icons right">pause</i>{{num}}</a>
     {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="waves-effect waves-light btn-small" href="?page={{num}}"><i class="material-icons right">more</i>{{num}}</a>


    {% endif%}


    {% endfor %}
   {% if page_obj.has_next %}
    <a class="waves-effect waves-light btn-small" href="?page={{page_obj.next_page_number}}"><i class="material-icons right">more</i>Next</a>
    <a class="waves-effect waves-light btn-small" href="?page={{page_obj.paginator.num_pages}}"><i class="material-icons right">stop</i>Last</a>
    {% endif %}



    {% endif %}
  </div>  

  
  



{% endblock content %}