{% extends "car/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" >
	<div class="row" style="padding-top:50px;">
	<form class="col s12" method="POST"style="padding-left: 100px;padding-right: 100px">
		{% csrf_token %}
			<h4>
              <legend class="teal-text center" >Reset Password</legend></h4>
			{{form|crispy}}
		<div>
<button class="btn waves-effect waves-light" type="submit" name="action">Reset password
    <i class="material-icons right">reset</i>
  </button>
		</div>
	</form>

	
</div>
</div>

{% endblock %}